.container {
  position: absolute;
  top: 100px;
  width: 95%;
  display: grid;
  justify-content: center;
  left: 15%;
}
.btnControls {
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}
.btnControls * {
  margin: 4px;
  height: 40px;
}
.POSTFORM {
  display: block;
  float: right;
}
.elementDetails {
  width: 75%;
}
.FiliereInfos {
  color: gainsboro;
  background-color: rgba(0, 0, 0, 0.4);
}
.FiliereInfos:hover {
  background-color: #263ab9;
  color: #fafafa;
}
.FiliereInfos p {
  color: gainsboro;
}
.ModuleInfos {
  background-color: bisque;
}
.ModuleInfos:hover {
  background-color: rgb(163, 147, 128);
  color: #fafafa;
}
.messageContainer {
  width: 100%;
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  justify-content: center;
}
.messageContainer div {
  width: 400px;
}
.modulesContainer {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.FiliereCard {
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #d0d0d0;
}
.cardButtons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  height: 30px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .cardButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 20px;
  }
  .cardButtons * {
    font-size: 30px !important;
  }
}
.searchbr {
  margin-top: 20px;
  margin-bottom: 20px;
}
