.stagiairePost-Modal-content {
  max-width: 600px;
  min-width: 600px;
  background-color: #e0e0e0;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.green {
  color: rgb(19, 173, 19);
}
.orange {
  color: rgb(238, 170, 23);
}
.red {
  color: red;
}
