:root {
  --main-color: #060b26;
  --hover-color: #263ab9;
}
body {
  height: 100vh;
  background: #060b26;
}

#crudHead {
  margin: 5px;
  display: flex;
  justify-content: center;
}
#searchBar {
  display: inline;
  width: 500px;
}
#searchBtn {
  width: 50px;
  border: none;
  background: none;
}

#addBtn {
  background-color: var(--main-color);
  border: none;
  font-size: 1.1em;
  width: 140px;
  color: white;
}
#addBtn:hover {
  background: var(--hover-color);
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  max-width: 600px;
  min-width: 600px;
  background-color: #e0e0e0;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
#modalContainer {
  margin: 10px;
}
#modalContainer input {
  color: black;
}

.modalTable {
  margin-bottom: 5px;
}
.tableLabel {
  width: 120px;
}
#nomFiliere {
  width: 350px;
}
#filiereId {
  width: 120px;
}
.modalBtns {
  display: flex;
  justify-content: right;
}
.modalBtns button {
  width: 80px;
  margin: 5px 0px 0px 5px;
}
#modalAjouterBtn {
  background-color: var(--main-color);
  border: none;
  color: white;
}
#modalAjouterBtn:hover {
  background: var(--hover-color);
}
#modalPutBtn {
  background-color: var(--main-color);
  border: none;
  color: white;
}
#modalPutBtn:hover {
  background: var(--hover-color);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#lblchar {
  color: #aaa;
}
.error {
  color: red;
  position: relative;
  font-size: 0.8rem;
  margin: 10px;
}
