USE [master]
GO
/****** Object:  Database [PFF]    Script Date: 5/30/2022 11:59:07 AM ******/
CREATE DATABASE [PFF]

ALTER DATABASE [PFF] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PFF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PFF]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_CHECKUSERS]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_CHECKUSERS] (@username VARCHAR(50),@pwd VARCHAR(150))
RETURNS INT
AS 
BEGIN
IF(SELECT COUNT(*) FROM USERS WHERE UserName=@username AND UserPassword = @pwd)>0
 RETURN 1
ELSE
 RETURN 0
RETURN 0
END
GO
/****** Object:  Table [dbo].[FiliereModule]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiliereModule](
	[ModuleID] [varchar](10) NOT NULL,
	[FiliereID] [varchar](10) NOT NULL,
	[MassHorraire] [int] NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
 CONSTRAINT [PK_FiliereModule] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC,
	[FiliereID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filieres]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filieres](
	[FiliereID] [varchar](10) NOT NULL,
	[NomFiliere] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[TypeDiplome] [varchar](3) NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FiliereID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formateur]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formateur](
	[FormateurID] [int] NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](168) NULL,
	[Phone] [varchar](12) NULL,
	[CIN] [varchar](8) NOT NULL,
	[Nationalite] [varchar](20) NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormateurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groupes]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groupes](
	[AnneScolaire] [varchar](10) NOT NULL,
	[GroupID] [varchar](20) NOT NULL,
	[FiliereID] [varchar](10) NULL,
	[Niveau] [int] NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[AnneScolaire] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleID] [varchar](10) NOT NULL,
	[Intitule] [varchar](50) NULL,
	[Description] [varchar](300) NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] NOT NULL,
	[Intitule] [varchar](50) NULL,
	[FloorID] [int] NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seances]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seances](
	[SeanceID] [int] IDENTITY(1000,1) NOT NULL,
	[TITLE] [varchar](200) NOT NULL,
	[RoomID] [int] NULL,
	[ModuleID] [varchar](10) NULL,
	[Objectives] [varchar](300) NULL,
	[DateSeance] [date] NOT NULL,
	[StartTime] [varchar](10) NOT NULL,
	[FormateurID] [int] NULL,
	[Commentaires] [varchar](300) NULL,
	[GroupID] [varchar](20) NULL,
	[AnneScolaire] [varchar](10) NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stagiaires]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stagiaires](
	[StagiaireID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[AnneScolaire] [varchar](10) NULL,
	[GroupID] [varchar](20) NULL,
	[Email] [varchar](169) NOT NULL,
	[CIN] [varchar](10) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[Nationalite] [varchar](50) NOT NULL,
	[statue] [varchar](30) NOT NULL,
	[PhotoUri] [varchar](255) NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StagiaireID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teaching]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaching](
	[GroupID] [varchar](20) NOT NULL,
	[AnneScolaire] [varchar](10) NOT NULL,
	[FormateurID] [int] NOT NULL,
	[ModuleID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormateurID] ASC,
	[GroupID] ASC,
	[AnneScolaire] ASC,
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserName] [varchar](50) NOT NULL,
	[EmailAddress] [varchar](164) NOT NULL,
	[UserPasswordHash] [varbinary](8000) NOT NULL,
	[UserPasswordSalt] [varbinary](8000) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[CreationDate] [date] NOT NULL,
	[Level] [int] NOT NULL,
	[LastAccessed] [date] NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[UPDATED_AT] [date] NOT NULL,
	[DELETED_AT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FiliereModule] ([ModuleID], [FiliereID], [MassHorraire], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'EGTS101', N'AEP', 122, CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date))
INSERT [dbo].[FiliereModule] ([ModuleID], [FiliereID], [MassHorraire], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'EGTS101', N'DGD', 123, CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date))
INSERT [dbo].[FiliereModule] ([ModuleID], [FiliereID], [MassHorraire], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'EGTS104', N'AEP', 99, CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date))
GO
INSERT [dbo].[Filieres] ([FiliereID], [NomFiliere], [Description], [TypeDiplome], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'AEP', N'Aide Educateur en Préscolaire', N'L’aide-éducateur, en collaboration avec l’éducateur ou directement sous la responsabilité du Directeur de l’établissement prend en charge les jeunes enfants, les accompagne dans leur adaptation à la vie en collectivité et dans leur apprentissage de la vie sociale.', N'T', CAST(N'0001-01-01' AS Date), CAST(N'2022-05-29' AS Date), CAST(N'0001-01-01' AS Date))
INSERT [dbo].[Filieres] ([FiliereID], [NomFiliere], [Description], [TypeDiplome], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'DGD', N' Digital Design', N'Le tronc commun en Digital Design vise à offrir une opportunité aux stagaires pour acquérir des connaissances solides sur la création des designs numériques pour des projets multimédias et graphiques, y compris des sites Web, des applications mobiles,  de la publicité, des animations, des courriels,', N'TS', CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date))
INSERT [dbo].[Filieres] ([FiliereID], [NomFiliere], [Description], [TypeDiplome], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'DGI', N'Développement Digital option Applications Mobiles', N'Un technicien spécialisé en Développement digital – option Développement Mobile est un professionnel responsable de tenir compte des spécificités de l’affichage des applications sur les différents outils. Deux possibilités s’offrent à lui : Adapter un site internet classique pour une application mob', N'TS', CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date), CAST(N'2022-05-18' AS Date))
GO
INSERT [dbo].[Formateur] ([FormateurID], [FirstName], [LastName], [Email], [Phone], [CIN], [Nationalite], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (0, N'Formateur1', N'Formateur1', N'Formateur@email.com', N'066666666', N'CIN123', N'Moroccan', CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date))
INSERT [dbo].[Formateur] ([FormateurID], [FirstName], [LastName], [Email], [Phone], [CIN], [Nationalite], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (2, N'Mohamed', N'Chikh', N'string', N'09999999', N'KFB4333', N'Maroccain', CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date))
GO
INSERT [dbo].[Groupes] ([AnneScolaire], [GroupID], [FiliereID], [Niveau], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'2021-2022', N'AEP201', N'AEP', 2, CAST(N'2022-05-19' AS Date), CAST(N'2022-05-19' AS Date), CAST(N'2022-05-19' AS Date))
INSERT [dbo].[Groupes] ([AnneScolaire], [GroupID], [FiliereID], [Niveau], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'2021-2022', N'DGD101', N'DGD', 1, CAST(N'2022-05-19' AS Date), CAST(N'2022-05-19' AS Date), CAST(N'2022-05-19' AS Date))
INSERT [dbo].[Groupes] ([AnneScolaire], [GroupID], [FiliereID], [Niveau], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'2021-2022', N'DGD102', N'DGD', 1, CAST(N'2022-05-19' AS Date), CAST(N'2022-05-19' AS Date), CAST(N'2022-05-19' AS Date))
GO
INSERT [dbo].[Modules] ([ModuleID], [Intitule], [Description], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'EGTS101', N'Soft skills', N'Soft Skills.', CAST(N'0001-01-01' AS Date), CAST(N'2022-05-29' AS Date), CAST(N'0001-01-01' AS Date))
INSERT [dbo].[Modules] ([ModuleID], [Intitule], [Description], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'EGTS104', N'Gestion des entreprises', N'notions de base sur la Gestion des entreprises ', CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date))
INSERT [dbo].[Modules] ([ModuleID], [Intitule], [Description], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (N'M100', N'Information sur la formation', N'Information sur la formation', CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date))
GO
INSERT [dbo].[Rooms] ([RoomID], [Intitule], [FloorID], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (1, N'SALLE 1', 1, CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date), CAST(N'2022-05-14' AS Date))
INSERT [dbo].[Rooms] ([RoomID], [Intitule], [FloorID], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (2, N'SALLE 2', 1, CAST(N'2022-05-29' AS Date), CAST(N'2022-05-29' AS Date), CAST(N'2022-05-29' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Seances] ON 

INSERT [dbo].[Seances] ([SeanceID], [TITLE], [RoomID], [ModuleID], [Objectives], [DateSeance], [StartTime], [FormateurID], [Commentaires], [GroupID], [AnneScolaire], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (1052, N'ZXCZXCxcvxcV', 1, N'M104', N'ASDASD', CAST(N'2022-05-30' AS Date), N'08:30', 2, N'SDADASD', N'DGD102', N'2021-2022', CAST(N'2022-05-29' AS Date), CAST(N'2022-05-29' AS Date), CAST(N'2022-05-29' AS Date))
INSERT [dbo].[Seances] ([SeanceID], [TITLE], [RoomID], [ModuleID], [Objectives], [DateSeance], [StartTime], [FormateurID], [Commentaires], [GroupID], [AnneScolaire], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (1053, N'ASDASDA', 1, N'M104', N'ASDAS', CAST(N'2022-05-31' AS Date), N'13:30', 2, N'ASDASDAS', N'DGD102', N'2021-2022', CAST(N'0001-01-01' AS Date), CAST(N'0001-01-01' AS Date), CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Seances] OFF
GO
SET IDENTITY_INSERT [dbo].[Stagiaires] ON 

INSERT [dbo].[Stagiaires] ([StagiaireID], [FirstName], [LastName], [Phone], [AnneScolaire], [GroupID], [Email], [CIN], [BirthDate], [Address], [Nationalite], [statue], [PhotoUri], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (2, N'Nouh', N'Bakhlakh', N'066666666', N'2021-2022', N'AEP201', N'nouhbk@gmail.com', N'KB179289', CAST(N'2000-09-05' AS Date), N'bendibane', N'Maroccain', N'Suspendu', NULL, CAST(N'0001-01-01' AS Date), CAST(N'2022-05-29' AS Date), CAST(N'0001-01-01' AS Date))
INSERT [dbo].[Stagiaires] ([StagiaireID], [FirstName], [LastName], [Phone], [AnneScolaire], [GroupID], [Email], [CIN], [BirthDate], [Address], [Nationalite], [statue], [PhotoUri], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (12, N'Belahsen', N'Mohamed', N'0222222222', N'', NULL, N'exemple@exemple.com', N'CS1N2M3', CAST(N'1992-05-22' AS Date), N'ssss', N'Maroccain', N'Exclue', NULL, CAST(N'0001-01-01' AS Date), CAST(N'2022-05-20' AS Date), CAST(N'0001-01-01' AS Date))
INSERT [dbo].[Stagiaires] ([StagiaireID], [FirstName], [LastName], [Phone], [AnneScolaire], [GroupID], [Email], [CIN], [BirthDate], [Address], [Nationalite], [statue], [PhotoUri], [CREATED_AT], [UPDATED_AT], [DELETED_AT]) VALUES (13, N'MOHAMED', N'NADA', N'43534534', N'2021-2022', NULL, N'NADA@GMAIL.COM', N'KWN134', CAST(N'2002-05-23' AS Date), N'DSFSDFSDFSDF', N'Maroccain', N'Exclue', NULL, CAST(N'0001-01-01' AS Date), CAST(N'2022-05-29' AS Date), CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Stagiaires] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Formateu__A9D105349C65EA03]    Script Date: 5/30/2022 11:59:07 AM ******/
ALTER TABLE [dbo].[Formateur] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Formateu__C1F8DC5657EF1A56]    Script Date: 5/30/2022 11:59:07 AM ******/
ALTER TABLE [dbo].[Formateur] ADD UNIQUE NONCLUSTERED 
(
	[CIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Seances__2050E7A4E012C6A1]    Script Date: 5/30/2022 11:59:07 AM ******/
ALTER TABLE [dbo].[Seances] ADD UNIQUE NONCLUSTERED 
(
	[DateSeance] ASC,
	[FormateurID] ASC,
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Stagiair__C1F8DC5643C53469]    Script Date: 5/30/2022 11:59:07 AM ******/
ALTER TABLE [dbo].[Stagiaires] ADD UNIQUE NONCLUSTERED 
(
	[CIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__49A14740C5B9955B]    Script Date: 5/30/2022 11:59:07 AM ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FiliereModule] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[FiliereModule] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[FiliereModule] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[Filieres] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Filieres] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Filieres] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[Formateur] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Formateur] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Formateur] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[Groupes] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Groupes] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Groupes] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[Seances] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Seances] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Seances] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[Stagiaires] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[Stagiaires] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[Stagiaires] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [DELETED_AT]
GO
ALTER TABLE [dbo].[FiliereModule]  WITH CHECK ADD FOREIGN KEY([FiliereID])
REFERENCES [dbo].[Filieres] ([FiliereID])
GO
ALTER TABLE [dbo].[FiliereModule]  WITH CHECK ADD FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[Groupes]  WITH CHECK ADD FOREIGN KEY([FiliereID])
REFERENCES [dbo].[Filieres] ([FiliereID])
GO
ALTER TABLE [dbo].[Seances]  WITH CHECK ADD FOREIGN KEY([FormateurID])
REFERENCES [dbo].[Formateur] ([FormateurID])
GO
ALTER TABLE [dbo].[Seances]  WITH CHECK ADD FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[Seances]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Seances]  WITH CHECK ADD  CONSTRAINT [FK_Groupes_Seances] FOREIGN KEY([AnneScolaire], [GroupID])
REFERENCES [dbo].[Groupes] ([AnneScolaire], [GroupID])
GO
ALTER TABLE [dbo].[Seances] CHECK CONSTRAINT [FK_Groupes_Seances]
GO
ALTER TABLE [dbo].[Stagiaires]  WITH CHECK ADD  CONSTRAINT [FK_Groupes_Stagiares] FOREIGN KEY([AnneScolaire], [GroupID])
REFERENCES [dbo].[Groupes] ([AnneScolaire], [GroupID])
GO
ALTER TABLE [dbo].[Stagiaires] CHECK CONSTRAINT [FK_Groupes_Stagiares]
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD FOREIGN KEY([AnneScolaire], [GroupID])
REFERENCES [dbo].[Groupes] ([AnneScolaire], [GroupID])
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD FOREIGN KEY([FormateurID])
REFERENCES [dbo].[Formateur] ([FormateurID])
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ModuleID])
GO
ALTER TABLE [dbo].[Filieres]  WITH CHECK ADD  CONSTRAINT [CK__Filieres__TypeDi__5CD6CB2B] CHECK  (([TypeDiplome] like 'TS' OR [TypeDiplome] like 'T' OR [TypeDiplome] like 'FQ'))
GO
ALTER TABLE [dbo].[Filieres] CHECK CONSTRAINT [CK__Filieres__TypeDi__5CD6CB2B]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD CHECK  (([Level]>=(1) AND [Level]<=(2)))
GO
/****** Object:  StoredProcedure [dbo].[GetXModuleFiliere]    Script Date: 5/30/2022 11:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetXModuleFiliere] @IDF VARCHAR(100)
AS

select * from Modules where ModuleID not in (SELECT Modules.ModuleID FROM Modules 
join FiliereModule on modules.ModuleID =FiliereModule.ModuleID
where FiliereModule.FiliereID =@IDF )
GO
USE [master]
GO
