.sidebar-list-item-button {
  width: 231px;
  height: 48px;
  margin-right: 5px !important;
  margin-left: 5px !important;
  border-radius: 8px !important;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 4.5%;
}
.sidebar-list-item-button:hover {
  background-color: #f2f5ff !important;
}
