.moduleId {
  font-size: 1.2rem;
  color: gainsboro;
}
.GestionModules {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.recherche {
  margin: 0px 60px 20px 0px;
}
.react-bootstrap-table-pagination-total {
  color: gainsboro;
}
