.moduleId {
  font-size: 1.2rem;
  color: gainsboro;
}
.GestionModules {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.recherche {
  margin: 0px 60px 20px 0px;
}
.react-bootstrap-table-pagination-total {
  color: gainsboro;
}
.messageContainer {
  width: 100%;
  display: flex; /* Hidden by default */
  position: absolute; /* Stay in place */
  top: -30px;
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  justify-content: center;
}
.messageContainer div {
  width: 400px;
}
