td {
}
.WKSCalendarTable {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  border-radius: 10px;
}
.WKSCalendarTable th {
  background-color: #bebebe;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  max-height: 50px !important;
  text-align: center;
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
}
.WKSCalendarTable td {
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  text-align: center;
  max-height: 100px !important;
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
}
.WKSCalendarTable tr {
  height: 80px;
}
.WKSCalendarToday > td {
  /* background-color: #9a00f3 !important;*/
}
.seance-box {
  font-size: 1rem;
  box-sizing: border-box;
  background-color: rgb(77, 139, 209);
  height: 80px;
  padding: 5px;
}
.seance-box-header-module {
  margin-top: 0px;
  font-weight: bold;
  /*background-color: #eca63c;*/
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seance-box-body {
  font-size: 0.9rem;
}
.seance-box-body-intitule {
}
.seance-box-body-formateur {
}
/*@media screen and (min-width: 1000px) {
  .seance-box-body {
    margin-top: 10px;
  }
}*/
.WKSCalendar__header * {
  margin: 5px 10px 5px 10px;
  font-weight: bold;
}
.WKSCalendar-header-body * {
  font-size: 1rem;
}
